main{
    text-align: center;
    padding-top: 5vh;
}

#sensor-data{
    text-align: center;
    display: inline-block;
    margin-right: 50px;
}

#plant-img{

}

#enviornment-settings{
    display: inline-block;
    margin-left: 50px;
    top: 0;
    position: relative;
}

#sensor-data{
    font-size: 30px;
}