<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Daulton_Sink</title>
    <link href="{% static "resume2.css" %}" rel="stylesheet" type="text/css" />
    <script src="{% static "jquery-3.3.1.js" %}"></script>
    <script src="{% static "resume2.js" %}"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</head>
<body>
    <div id="cover-photo">
        <div id="cover-text">DAULTON SINK</div>
        <div id="cover-subtext">A Django Powered Resume</div>
    </div>
    <hr>
    <div class="container-fluid" id="about-section">
        <div class="row">
            <div id="about-text-hold" class="col-md-8">
                <p>Hello! This is my personal site and resume, a (near) exhaustive rundown of all the projects I have worked on and all the interests that have captivated my attention at one time or another. Studying biology in college, I realized eventually that my real passion lay in computer science.</p>
                <p>I graduated from VCU in 2016, and not long after that, I set out to teach myself how to code. Since then, I have amassed a strong base of knowledge, having mastered multiple core concepts and languages. The language that I get most excited about? That’s easy: Python! This language is highly readable, infinitely flexible, and quickly adapted to a huge number of applications.</p>
                <p>For this site specifically, I used HTML and CSS on the frontend and Python’s Django library on the backend. Designed to take advantage of most of the stunning features Django has to offer, I have taken the construction of this site as an opportunity to practice and display good coding practices. If you are already falling asleep because you view coding as about as exciting as watching grass grow, fear not, I won’t bore you any further. If however, you view coding as an exciting and creative topic where you get to create something beautiful from nothing then I fully invite you to check out my source code which can be found <a href="https://github.com/daultonoryan/daultonsink_site">here.</a></p>
                <p>I’m happy to share my resume with you. If there are any questions I can answer for you or if you are interested in freelance work or hiring for a permanent position, please feel free to reach out to me!</p>
            </div>
            <div id="about-info" class="col-md-4">
                <div class="top-left-spacer">
                    <p>General Info</p>
                    <ul id="info-list">
                        <li class="info">Address:</li>
                        <li class="info">712 16th Street SE</li>
                        <li class="info">Washington, DC 20003</li>
                    </ul>
                </div>
                <div class="top-left-spacer">
                    <p>Contact me</p>
                    <ul id="contact-list">
                        <li class="contact-head">Email:</li>
                        <li class="contact">Daultonoryan@gmail.com</li>
                        <li class="contact-head">phone:</li>
                        <li class="contact">(202) 733-0715</li>
                        <li class="contact-head">GitHub:</li>
                        <li class="contact">https://github.com/daultonoryan</li>
                    </ul>
                </div>
            </div>
        </div>
        <hr id="bottom_span">
    </div>
    <div class="section-blue container-fluid" id="skills">
        <p class="section-head">Skills:</p>
        {% for i in skills %}
            {% if forloop.first %}
        <div class="row">
            {% endif %}
            <div class="section-list-el col" align="center">{{ i.skill_name }}</div>
            {% if forloop.counter|divisibleby:3 %}
        </div>
        <div class="row">
            {% endif %}
            {% if forloop.last %}
        </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="section-white" id="work-experience">
        <p class="section-head">Employment:</p>
        {% for i in employments %}
            <ul class="experience">
                <li class="experience-title">{{ i.work_name }}</li>
                <li class="experience-institution">{{ i.work_institution }}</li>
                <li class="experience-dates">{{ i.work_dates }}</li>
                <ul>
                    {% if i.work_synopsis1 %}<li class="synopsis">{{ i.work_synopsis1 }}</li>{% endif %}
                    {% if i.work_synopsis2 %}<li class="synopsis">{{ i.work_synopsis2 }}</li>{% endif %}
                    {% if i.work_synopsis3 %}<li class="synopsis">{{ i.work_synopsis3 }}</li>{% endif %}
                    {% if i.work_synopsis4 %}<li class="synopsis">{{ i.work_synopsis4 }}</li>{% endif %}
                    {% if i.work_synopsis5 %}<li class="synopsis">{{ i.work_synopsis5 }}</li>{% endif %}
                </ul>
            </ul>
        {% endfor %}
    </div>
    <div class="section-blue container-fluid" id="tools">
        <p class="section-head">Tools :</p>
        {% for i in tools %}
            {% if forloop.first %}
        <div class="row">
            {% endif %}
            <div class="section-list-el col" align="center">{{ i.tool_name }}</div>
            {% if forloop.counter|divisibleby:3 %}
        </div>
        <div class="row">
            {% endif %}
            {% if forloop.last %}
        </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="section-white" id="education">
        <p class="section-head">Education:</p>
        {% for i in educations %}
            <ul class="experience">
                <li class="experience-title">{{ i.education_name }}</li>
                <li class="experience-institution">{{ i.education_institution }}</li>
                <li class="experience-dates">{{ i.education_dates }}</li>
                <ul>
                    {% if i.education_synopsis1 %}<li class="synopsis">{{ i.education_synopsis1 }}</li>{% endif %}
                    {% if i.education_synopsis2 %}<li class="synopsis">{{ i.education_synopsis2 }}</li>{% endif %}
                    {% if i.education_synopsis3 %}<li class="synopsis">{{ i.education_synopsis3 }}</li>{% endif %}
                    {% if i.education_synopsis4 %}<li class="synopsis">{{ i.education_synopsis4 }}</li>{% endif %}
                    {% if i.education_synopsis5 %}<li class="synopsis">{{ i.education_synopsis5 }}</li>{% endif %}
                </ul>
            </ul>
        {% endfor %}

    </div>
    <div class="section-blue container-fluid" id="projects">
        <p class="section-head">Projects:</p>
        {% for i in projects %}
            {% if forloop.first %}
        <div class="row">
            {% endif %}
            <figure class="col text-center">
                <a href="{{ i.project_url }}" target="_blank"><div class="project-img" style="background-image: url({% static i.project_path %})"></div></a>
                <figcaption class="project-img-text">{{ i.project_name }}</figcaption>
            </figure>
            {% if forloop.counter|divisibleby:3 %}
        </div>
        <div class="row">
            {% endif %}
            {% if forloop.last %}
        </div>
            {% endif %}
        {% endfor %}
    </div>

    <footer class="container-fluid">
        <p class="section-head">Certifications:</p>
        <ul>
            {% for i in certifications %}
                <li class="popup-trigger"><a href="{{ i.url }}">{{ i.name }}</a><span class="popup-box">{{ i.description }}</span></li>
            {% endfor %}
        </ul>
    </footer>
</body>
</html>